.tachado {
    text-decoration: line-through;
}

.precio {
    font-size: 180%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.comprar {
    width: 30%;
    margin-bottom: 2%;
}

.containerD {
    margin-top: 5%;
}

.detalles {
    margin-left: 5%;
}